.firstDiv{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.secondDiv{
    margin-left: 20vw;
}

.principal{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
}